body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Світлий фон для сторінки */
}

.container {
    width: all; /* Ширина контейнера */
    height: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #4DE6A6; /* Колір фону контейнера */
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #2b2d42; /* Колір заголовка */
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text-block-1 {
    width: 300px;
    height: 1200px;
    padding: 20px;
    background-color: #b2e0e6; /* Світліший фон для текстового блоку */
    border-radius: 10px; /* Закруглені кути */
}

.text-block-2 h2 {
    width: 300px;
    height: 1200px;
    padding: 20px;
    border-radius: 10px; /* Закруглені кути */
    color: #2b2d42; /* Текст заголовку */
}

.image-section {
    width: 30%;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Закруглені кути для зображення */
}

.text-block-3 {
    background-color: #3fe983; /* Інший кольоровий фон для другого блоку текству */
    padding: 20px;
    border-radius: 10px; /* Закруглені кути */
    margin-top: 20px; /* Відступ зверху */
}

footer {
    text-align: right;
    margin-top: 20px;
    color: #2b2d42; /* Колір тексту в футері */
}
